* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
}

a:link {
  color: white;
  font-size: 25px;
}

a:visited {
  color: white;
  font-size: 25px;
}


a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: thistle;
}

h1 {
  font-size: 40px;
  font-family: ui-serif;
  text-align: center;
  position: relative;
  border-style: dotted;
  border-color: black;
  background-color: grey;
  color: white;
}
