* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: lightslategrey;
}

.basic {
    background-image: url("../media/basic.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.inter {
  background-image: url("../media/intersectionality.png");
  background-size: contain;
  background-repeat: no-repeat;
  color: #708063;
  background-color: lightslategrey;
}

.resource{
  background-image: url("../media/resources.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
}

h1 {
  font-size: 65px;
  font-family: serif;
  text-align: center;
  color: #708063;
}

h2 {
  font-size: 55px;
  margin: 20px;
  padding: 20px;
  font-family: serif;
  text-align: center;
  color: white;
}

ul {
  font-size: 34px;
  margin: 20px;
  max-width: inherit;
  padding: 15px;
  font-family: serif;
  text-align: center;
  color: white;
  list-style-type: none;
}

ul.more {
  list-style-type: circle;
  list-style-position: inside;
}

p {
  font-size: 34px;
  line-height: 25pt;
  margin: 18px;
  padding-left: 10px;
  color: #708063;
  font-family: serif;
  font-weight: bolder;
}

.moreinfo {
  font-size: 34px;
  text-align: center;
  line-height: 35pt;
  font-family: serif;
  color: white;
  font-weight: bold;
}

p.inter{
  font-size: 27px;
  text-align: center;
  line-height: 20pt;
  font-family: serif;
  color: White
  font-weight: bold;
}

a:link {
  font-size:34px;
  color: #708063;
  font-weight: bold;
  font-family: serif;
}

a:visited {
  font-size:34px;
  color: #708063;
  font-weight: bold;
  font-family: serif;
}

.navbar {
    overflow: hidden;
    background-color: #708063;
    width: 45%;
    height: 60pt;
    float: right;
  }

.navbar a {
  float: left;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 14px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: thistle;
  padding: 14px 16px;
  background-color: inherit;
  font-weight: 750;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #a7c698;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  float: none;

}

.dropdown-content a {
  float: none;
  color: #708063;
  padding: 12px 16px;
  display: block;
  text-align: left;
  float: none;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.arrow {
  border: solid #a7c698;
  border-width: 0 12px 12px 0;
  display: grid;
  padding: 5px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
