* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: lightslategrey;
}

.basic {
    text-align: center;
    background-image: url("../media/basic.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.inter {
  text-align: center;
  background-image: url("../media/5.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #708063;
  background-color: thistle;
}

.tips {
  background-image: url("../media/5.png");
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-size: 65px;
  font-family: serif;
  text-align: center;
  color: #708063;
}

h1.tip {
  color: #708063;
}

h2 {
  font-size: 45px;
  margin: 20px;
  padding: 20px;
  font-family: serif;
  text-align: right;
  color: white;
}

ul.easy {
  font-size: 27px;
  margin: 20px;
  max-width: inherit;
  padding: 15px;
  font-family: serif;
  text-align: center;
  color: white;
  text-decoration: none;
}

p {
  font-size: 27px;
  line-height: 25pt;
  margin: 18px;
  padding-left: 10px;
  color: #708063;
  font-size:32px;
  font-family: serif;
  font-weight: bold;
}

p.moreinfo {
  font-size: 27px;
  text-align: center;
  line-height: 11pt;
}

a:link {
  color: white;
  font-size:42px;
  text-align: center;
  font-weight: bolder;
}

a:visited {
  color: lightslategrey;
  font-size:30px;
  font-weight: 400px;

.navbar {
    overflow: hidden;
    background-color: #708063;
    width: 45%;
  }

.navbar a {
  float: left;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 14px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: thistle;
  padding: 14px 16px;
  background-color: inherit;
  font-weight: bolder;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #a7c698;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #708063;
  padding: 12px 16px;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.arrow {
  border: solid #a7c698;
  border-width: 0 12px 12px 0;
  display: inline-block;
  padding: 5px;
  height: 20pt;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
  margin-left: 12px;
  margin-right: 12px;
}
