* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#international {
  margin: 0px;
  padding: 0px;
  text-align: center;
  background-image: url("../media/globe.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #641E16;
}

#national {
  margin: 10px;
  padding: 10px;
  text-align: center;
}

#local {
  margin: 10px;
  padding: 10px;
  text-align: center;
}

h1 {
  font-size: 65px;
  margin: 20px;
  padding: 20px;
  font-family: serif;
  text-align: center;
  border-style: double;
  border-width: thick;
  border-color: slategrey;
  background-color: rgba(70,80,90,.5);
  color: white;
}

p {
  font-size:27px;
  font-family: serif;
  color: white;
  font-weight: bolder;
  background-color: rgba(70,80,90,.3);
  line-height: 25pt;

}

a:link {
  color: white;
  font-size: 25px;
}

a:visited {
  color: #003d47;
  font-size: 25px;
}
