* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#international {
  margin: 10px;
  padding: 0px;
  text-align: center;
  background-image: url("../media/worldmap.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
}

#national {
  margin: 10px;
  padding: 10px;
  text-align: center;
}

#local {
  margin: 10px;
  padding: 10px;
  text-align: center;
}

h1 {
  font-size: 65px;
  margin: 20px;
  max-width: inherit;
  padding: 20px;
  font-family: serif;
  text-align: center;
  border-style: double;
  border-width: thick;
  border-color: #006347;
  background-color:rgba(00,63,47,.3);
  color: seagreen;
}

p.intro  {
  font-size:22px;
  font-family: serif;
  color:#006347;
  font-weight: bolder;
  line-height: 25pt;
  list-style-position: inside;
}
p {
  font-size:27px;
  font-family: serif;
  color: #1F618D;
  font-weight: normal;
  line-height: 15pt;
}

li {
  list-style-position: inside;
  font-size: 30px;
}

a:link {
  color: #1F618D;
  font-size: 25px;
}

a:visited {
  color:white;
  font-size: 25px;
}

#intrntnl:link {
  color: #1F618D;
  font-size: 25px;
}

#intrntnl:visited {
  color:seagreen;
  font-size: 25px;
}
