* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-image: url("media/home.png");
  background-size: cover;
  background-color: lightslategrey;
}

h1 {
  font-size: 70px;
  text-align: center;
  color: #708063;
}

h2 {
  font-size: 30px;
  margin: 20px;
  max-width: inherit;
  padding: 20px;
  font-family: serif;
  text-align: right;
  color: White;
}

p {
  font-size:35px;
  font-family: serif;
  color: white;
  font-weight: bolder;
  line-height: 25pt;
  text-align: left;
  height: 50px;
  width: 600pt;
  margin-left: 20px;
}

a:link {
  color: white;
  font-size:35px;
  text-align: center;
  font-weight: bolder;
}

a:visited {
  color: lightslategrey;
  font-size:42px;
  font-weight: 400px;
}

.navbar {
  overflow: hidden;
  background-color: #708063;
  width: 45%;
  height: 60pt;
}

.navbar a {
  float: left;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 14px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: thistle;
  padding: 14px 16px;
  background-color: inherit;
  font-weight: 750;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #a7c698;
}

.dropdown-content {
  float: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  z-index: 1;
  float: none;
}

.dropdown-content a {
  float: none;
  color: #708063;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
