* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: #a7c698;
}

.container {
  position: relative;
}

.logo {
  display: block;
  align-items: center;
  max-width: 60em;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}

h1 {
  font-family: 'Belleza', sans-serif;
  font-size: 85px;
  color: #926026;
  border-style: double;
  border-color: #f8f7cf;
  border-radius: 1em;
  margin-top: .5em;
}

h2 {
  font-size: 72px;
  font-family: 'Satisfy', cursive;
  color: #375971;
  margin-top: 2em;
  text-align: left;
}

p {
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
  color: #f8f7cf;
  line-height: 45pt;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 30em
}

.signature {
  font-family: 'Satisfy', cursive;
  color: #375971;
  font-size: 53px;
  text-align: right;
  margin-right: 5em;
  margin-top: -8em;
  margin-bottom: 7em;
}

a:link {
  color: #926026;
  font-size: 38px;
}

a:visited {
  color: #c47867;
  font-size: 38px;
}

nav {
  color: #926026;
  display: flex;
  justify-content: center;
  font-family:'Raleway', sans-serif
}

nav a {
  font-size: 30px;
  color: #926026;
  padding: 10px;
  width: 6em;
  background-color:rgba(248, 247, 207,.5);
  border-style: solid;
  border-width: thin;
  border-color: #a7c698;
}

.page {
  display: flex;
  flex-wrap: wrap;
}

footer {
 font-size: 25px;
 color: #375971;
 justify-content: center;
 align-items: center;
 padding: 2em;
 margin-top: 10em;
}

a.footer{
  font-size: 25px;
  color: #375971;
}

/* mobile */
@media only screen and (max-width: 400px) {
  body {
    .header {
      height: 50px;
    }
    .description {
      height: 150px;
    }
    nav {
      width: 100%;
    }
    .feature-1,
    .feature-2,
    .feature-3 {
      width: 33.3%;
    }
  }
}

/* tablet */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .header {
    height: 50px;
  }
  .description {
    height: 150px;
  }
  nav {
    width: 100%;
  }
  .feature-1,
  .feature-2,
  .feature-3 {
    width: 33.3%;
  }
}

/* desktop */
@media only screen and (min-width: 961px) {
  .page {
    width: 960px;
    margin: 0 auto;
  }
  .header {
    height: 50px;
  }
  .description {
    height: 150px;
  }
  nav {
    width: 100%;
  }
  .feature-1,
  .feature-2,
  .feature-3 {
    width: 33.3%;
  }
}
